h1{
  color: var(--main-color);
  position: relative;
}

h1::after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 3px;
  background-color: var(--main-color);
}

.btn-container{
  margin-left: 1.5rem;
  width: 50%;
  display: flex;
  justify-content: center;
}

.btn-container .btn{
  margin: 0.5rem;
  border: none;
  outline: none;
  background-color: var(--main-color);
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;

}
